<body>
<app-shared-nav />
<main>
    <div class="timeline">
        <div class="container left-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Beginning of my MSU Academic Journey</h2>
                <small>Sept. 2019 - May 2024</small>
                <p>My first days at MSU were spent as a general business student trying to figure out what focus of business I should pursue.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Joining the MSU Honors College</h2>
                <small>Jan. 2020 - May 2024</small>
                <p>After scoring a 4.0 my first semester, I was invited to the MSU Honors College to have an opportunity to graduate as an honors student.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Michigan State University - Finance</h2>
                <small>Sept. 2020 - May 2024</small>
                <p>After my first year, I had determined that the business major of my choice would be Finance as the subject resonated with me the most out of the other business majors.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Michigan State University - Computer Science & Engineering</h2>
                <small>Sept. 2020 - May 2024</small>
                <p>Although I had chosen Finance as my major, I had also found a strong interest in programming during my first year at MSU. This inspired me to also study at the MSU College of Engineering despite the extra year it would take me to do so.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/phigammanu-icon.png" alt="Phi Gamma Nu icon" width="40" height="40">
            <div class="text-box">
                <h2>Phi Gamma Nu Fundraising Chair</h2>
                <small>Jan. 2021 - May 2021</small>
                <p>Being in the pandemic brought opportunity to be creative for fundraising events with other members of a business organization. We hosted several virtual events that were safe and engaging for an audience stuck at home.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Undergraduate Teaching Assistant - Computer Science & Engineering</h2>
                <small>Jan. 2022 - Jan. 2023</small>
                <p>This job tasked a partner and myself a class of 30 students to teach basic computer science principles to. It was an introductory coding class given to business students to test analytical thinking skills. During my time as a ULA, I spent ample time creating study materials and engaging activities for my students resulting in the highest average scores of any class for each exam.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Undergraute Research Assistant - Supply Chain Management</h2>
                <small>Mar. 2022 - May 2024</small>
                <p>Being offered this opportunity to do research with the #1 Supply Chain Management program in the world was one that I would've never expected to have received. Through several projects and teaching experiences, I was able to gather a lot of valuable skills that gave me the confidence to continue engaging in new endeavors.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/phigammanu-icon.png" alt="Phi Gamma Nu icon" width="40" height="40">
            <div class="text-box">
                <h2>Phi Gamma Nu Technology Chair</h2>
                <small>Jan. 2023 - Jan. 2024</small>
                <p>Whether it was seeing the business world evolving, seeing other clubs utilize software development in their activites, or redundant tasks interfering with organizational members' tasks, there were several indicators that had shown why finding this new chair within this business organization was essential. During my time, I found many new ways in which we can handle data more efficiently, automate tedious tasks, and make applications that can engage with an audience.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/rocket-icon.png" alt="Rocket Mortgage icon" width="40" height="40">
            <div class="text-box">
                <h2>Rocket Mortgage Backend Software Engineering Intern</h2>
                <small>May 2023 - Aug. 2023</small>
                <p>This was the first situation where I confronted theory with practice, usually in school we come up with hypotheticals in which we code a solution to. With Rocket, there were actual stakeholders with real problems. Over the summer, myself and two other interns worked on a full-stack project that would help improve the efficiency in testing new features in code and other changes from 3-5 minutes to mere seconds.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/Evolutio-E.png" alt="Evolutio icon" width="40" height="40">
            <div class="text-box">
                <h2>Evolutio Capstone Project Frontend Software Engineering Intern</h2>
                <small>Aug. 2023 - Dec. 2023</small>
                <p>For this project, I worked with four other MSU students to create an application observability tool that would monitor, log, and calculate statistics about an application. The tool can also be used to alert system engineers in a detailed manner. Unlike with Rocket where I focused on APIs, infrastrucutre, and algorithms, I instead spent my time creating a visually pleasing UI to utilize data being passed up through the backend.</p>
                <span class="right-container-arrow"></span>    
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Undergraduate Teaching Assitant - Project Management</h2>
                <small>Jan. 2024 - May 2024</small>
                <p>This holds the same title as my teaching job with the Computer Science & Engineering department, yet my tasks contrast each other in every way. Some of my duties included helping formulate exams, check the exams for consistency b/w versions, grade exams, record grades, record attendance, and support the professor in other small administractive sitautions.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
        <div class="container right-container">
            <img ngSrc="../assets/images/yorunomachi-icon.jpg" alt="Yorunomachi icon" width="40" height="40">
            <div class="text-box">
                <h2>Yorunomachi IT Specialist and Quality Management</h2>
                <small>Jan. 2024 - Present</small>
                <p>Yorunomachi is a small art company that specializes in setting up a marketplace for artists and influencers to sell their products. My role is to support some of our processes and to create systems that can help automate tedious workloads such that other employees can spend time working on more important tasks.</p>
                <span class="right-container-arrow"></span>
            </div>
        </div>
        <div class="container left-container">
            <img ngSrc="../assets/images/msu-icon.png" alt="MSU icon" width="40" height="40">
            <div class="text-box">
                <h2>Graduation from Michigan State University</h2>
                <small>May 2024</small>
                <p>After five long years at MSU, I was exhausted, but satisfied with my time learning about both engineering and business. I was also fortunate enough to graduate from the Honors College for both of my degrees and to also graduate with honors.</p>
                <span class="left-container-arrow"></span>
            </div>
        </div>
    </div>
</main>

<app-shared-footer />
</body>