/* Tag Formatting */
header {
    height: auto;
    position: relative;

}

img {
    position:relative;
    top: 0;
    left: 0;
    width:100vw;
    height: auto;
    object-fit:cover;
    overflow:hidden;

}
