:host {
    --primary-nav-color: #4F5052;
    --side-bar-color: #009a49;
    --secondary-nav-color: #4F5052;
    --secondary-nav-color-opaque: #C5CCC833;
}


/* Tag Elements */

body {
    margin: 0;
    padding: 0;
}


nav {
    background-color: var(--primary-nav-color) ;
    width: 100vw;
    height: 100px;
    min-height: 10vh;
    position: relative;
    background-size: cover;
    overflow:hidden;
    display: flex;
    justify-content: center;
  
}

/*Class Elements */

.link-group {
  float: left;
}

.link-group {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link-group li {
  list-style-type: none;
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-group a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-group > li:hover{
  background-color: var(--secondary-nav-color-opaque);
}

.icon {
    width: 3rem;
    height: 3rem;
    position: fixed;
    visibility: hidden; 
    display: none;
    margin-right: 10%;
}

/*Tag Elements*/

/*Note: I understand 650 was assigned, but I found 850 to work very well for me for switching to the sidebar*/
@media (max-width: 1200px)
{
  nav {
      background-color: var(--secondary-nav-color)  ;
      width: 100vw;
      height: auto;
      min-height: 100px;
      position: relative;
      background-size: cover;
      /* overflow:hidden; */
      flex-direction: column;
  }

  .link-group {
    display: flex;
    flex-direction: column; /* Change to column direction */
    width: 100%;
    height: auto;
  }

  .link-group li {
      width: 100%; /* Full width for list items */
      height: auto;
  }

  .link-group a {
      width: 100%; /* Full width for links */
      height: auto;
      padding: 10px 0; /* Adjust padding */
  }
    
  button {
      background-color: transparent;
      border: none;
      padding-right: 5%;
      z-index: 3;
      visibility: visible;

  }
}


