<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Max's Website</title>

  <meta name="author" content="Max Resch">
  <meta name="description" content="Max's Website">
  <meta
    property="og:image"
    content="../static/main/images/max-photo.png" 
  />
  <meta
    property="og:description"
    content="Max's website contains information about himself, his projects, and other fun interactive elements that you can engage yourself with!" 
  />
  <meta
    property="og:title"
    content="Max's Website" 
  />

  <!-- <link rel="icon" href="{{ url_for('static', filename='../../static/main/images/favicon.ico') }}" type="image/x-icon"> -->

  <!-- <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}"> -->
  <!-- <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script> -->
</head>

<body>
    <article>
    <!-- The header  -->
    <header>
      <img src="../../static/main/images/stpatricksbanner.jpg" alt="St. Patricks Day Banner" loading="lazy">
    </header>
    <!-- The navigation bar -->
    <nav>
      <div class="flex-container">
          <div id="sidebar" class="sidebar" aria-label="sidebar" aria-hidden="true">
            <div class="sidebar_content">
              <a href="https://homework-fojekluksq-uc.a.run.app/home">Home Page</a>
            </div>
            <div class="sidebar_content">
              <a href="https://homework-fojekluksq-uc.a.run.app/projects">Project Page</a>
            </div>
            <div class="sidebar_content">
              <a href="https://homework-fojekluksq-uc.a.run.app/piano">Piano Page</a>
            </div>
            <div class="sidebar_content">
              <a href="https://homework-fojekluksq-uc.a.run.app/resume">Resume</a>
            </div>
            <div class="sidebar_content">
              <a href="https://homework-fojekluksq-uc.a.run.app/chat">Chat</a>
            </div>
            <div class="sidebar_content">
            <a href="https://homework-fojekluksq-uc.a.run.app/login">Login</a>
            </div>
            <div class="sidebar_content">
              <a  target="_blank" href="https://www.linkedin.com/in/max-resch-22646219b/">LinkedIn</a>
            </div>
          </div>
            <h1>Welcome to Max's Website!<span style="font-size: 16px"><br>CSE 477 - Homework 3</span></h1>
          <!-- <button data-toggle-sidebar="sidebar"><img src="../static/main/images/clover-menu-bar.png" alt="clover-icon" loading="lazy" class="icon" id="icon-object"></img></button> -->
          <a href="https://homework-fojekluksq-uc.a.run.app/home">Home Page</a>
          <a href="https://homework-fojekluksq-uc.a.run.app/projects">Projects Page</a>
          <a href="https://homework-fojekluksq-uc.a.run.app/piano">Piano Page</a>
          <a href="https://homework-fojekluksq-uc.a.run.app/resume">Resume</a>
          <a href="https://homework-fojekluksq-uc.a.run.app/chat">Chat</a>
          <a href="https://homework-fojekluksq-uc.a.run.app/login">Login</a>
          <a target="_blank" href="https://www.linkedin.com/in/max-resch-22646219b/"><img src="../static/main/images/social-linkedin.png" alt="URL to LinkedIn Page" loading="lazy"></a>
      </div>
    </nav>

    <!-- The main content  -->
    <!-- <main>

      <div class="input-container">
        <form action="{{ url_for('processfeedback')}}" method="post" class="feedback-form" id="feedback-form">
          <input type="text" id="name" name="name" placeholder="Your Name"><br>
          <input type="text" id="email" name="email" placeholder="Your Email"><br>
          <textarea id="info" name="info" wrap="soft" placeholder="Insert Feedback Here"></textarea><br>
          <input type="submit" id="submit-button" class="submit-button" name="submit-button" value="Submit"><br>
        </form>
        <button class="feedback" id="feedback">feedback</button>
      </div>
    </main> -->

    <!-- The footer of the file -->
    <footer>
        <p>© 2024 Max Jefffrey Resch</p>
    </footer>

    </article>
  
</body>

</html>
