<app-shared-nav />
<main>
    <div class="main-box">
      <img class="main-photo" title="Max's photo" src="../assets/images/max-photo.png" alt="Photo of Max, the creator of this website" loading="lazy">
      <p><span class="large-text">Hello! I am Max Resch</span> and I am a student at MSU pursuing a degree in <span class="bolded">Computer Science</span> and <span class="bolded">Finance</span>. On this website you will find a lot of information about some projects that I have worked on and some fun activities that I have programmed for your enjoyment! Additionally, I will give as much information that I can regarding these projects including descriptions alongside documentation and repositories when possible. I hope that you enjoy your visit and can tab away adequately informed about my background.</p>
    </div>
      <hr>
    <p class="fun-fact"><span>Fun Fact About Me:</span> Before college, I was an active runner for track and field. My favorite events were sprints and I was lucky enough to break a couple of school records before graduating!</p>
</main>
<app-shared-footer />